/Básico/PrimeiroProjetoJava/nbproject/private/
/Básico/PrimeiroProjetoJava/build/
/Básico/array/nbproject/private/
/Básico/array/build/
/Java-web/PrimeiroProjetoWeb/nbproject/private/
/Java-web/PrimeiroProjetoWeb/build/
/Java-web/PrimeiroProjetoWeb/dist/
/Java-web/CalculadoraIMC/nbproject/private/
/NeatBeans/Básico/PrimeiroProjetoJava/build/
/NeatBeans/Básico/PrimeiroProjetoJava/nbproject/private/
/NeatBeans/Básico/array/build/
/NeatBeans/Básico/array/nbproject/private/
/NeatBeans/Java-web/CalculadoraIMC/nbproject/private/
/NeatBeans/Java-web/PrimeiroProjetoWeb/build/
/NeatBeans/Java-web/PrimeiroProjetoWeb/dist/
/NeatBeans/Java-web/PrimeiroProjetoWeb/nbproject/private/
/NeatBeans/Intermediario/Orientação a objeto/PrincipalInstrumento/nbproject/private/
/NeatBeans/Intermediario/Orientação a objeto/PrincipalInstrumento/build/
/NeatBeans/Intermediario/Orientação a objeto/PrincipalInstrumento/dist/
/NeatBeans/Java-web/CalculadoraIMC/build/
/NeatBeans/Intermediario/Orientação a objeto/BhaskaraWeb/nbproject/private/
/NeatBeans/Intermediario/Orientação a objeto/uniClima/nbproject/private/
/NeatBeans/Intermediario/Orientação a objeto/uniClima/build/
/NeatBeans/Básico/FuncaoEntrada/nbproject/private/
/NeatBeans/Básico/FuncaoEntrada/build/