/Básico/PrimeiroProjetoJava/nbproject/private/
/Básico/PrimeiroProjetoJava/build/
/Básico/array/nbproject/private/
/Básico/array/build/
/Java-web/PrimeiroProjetoWeb/nbproject/private/
/Java-web/PrimeiroProjetoWeb/build/
/Java-web/PrimeiroProjetoWeb/dist/
/Java-web/CalculadoraIMC/nbproject/private/